{erl_opts, [debug_info]}.
{deps, [
  {providers, ".*", {git, "https://github.com/tsloughter/providers.git", {tag, "v1.3.1"}}},
  {lfe, ".*", {git, "https://github.com/rvirding/lfe.git", {branch, "develop"}}}
]}.

{plugins, [
  {'lfe-compile', {git, "git@bitbucket.org:oubiwann/rebar3-lfe-compile.git", {branch, "master"}}}
]}.
